.net * {
  font-size: 12px;
  white-space: nowrap;
  margin: 0 0 0 0;
  border: none;
  padding: 0 0 0 0;
  line-height: 20px;
}
.net .addr  {
  position: absolute;
  width: 50px;
  min-height: 100px;
  border: 1px solid #888;
  padding: 0 5px 0 5px;
}
.net .accept-addr-port {
  position: relative;
}
.net .accept-addr, .net .accept-port {
  display: none;
}
.net .listen {
  position: absolute;
  display: block;
  top: 14px;
  left: -20px;
  height: 10px;
  border: 1px solid #aaa;
  background-color: #dde;
  padding: 0 2px 0 2px;
  font-size: 8px;
  vertical-align: top;
  line-height: 10px;
  opacity: 0.5;
}
.net .port {
  padding-left: 20px;
  color: #ddd;
}
.net .port .port-info {
  visibility: hidden;
  color: #ddd;
}
.net .port:hover .port-info {
  visibility: visible;
}
.net .msgs-container {
  position: relative;
  height: 0px;
}
.net .msgs {
  position: relative;
  border: none;
  border-left: 2px solid #bbb;
  padding-top: 60px;
  color: #333;
  opacity: 0.8;
}
.net .msgs.to-client {
  border-left: 2px solid #bcc;
}
.net .msg {
  position: relative;
  left: -2px;
  border: none;
  font-size: 20px;
}
.net .msg .result {
  display: inline-block;
  font-size: 10px;
  vertical-align: top;
}
.net .msg.msg-enter, .net .msg.msg-move, .net .msg.msg-exit {
  -webkit-animation-duration: 0.7s;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-timing-function: ease;

  animation-duration: 0.7s;
  animation-iteration-count: 1;
  animation-timing-function: ease;
}
.net .msg.msg-enter {
  -webkit-animation-name: msg-enter;
  animation-name: msg-enter;
}
.net .msg.msg-move {
  -webkit-animation-name: msg-move;
  animation-name: msg-move;
}
.net .msg.msg-exit {
  opacity: 0.0;

  -webkit-animation-name: msg-exit;
  animation-name: msg-exit;
}
@-webkit-keyframes msg-enter {
    0% { top: -60px; opacity: 0.0; }
    100% { top: 0px; opacity: 1.0; }
}
@keyframes msg-enter {
    0% { top: -60px; opacity: 0.0; }
    100% { top: 0px; opacity: 1.0; }
}
@-webkit-keyframes msg-move {
    0% { top: -20px; }
    100% { top: 0px; }
}
@keyframes msg-move {
    0% { top: -20px; }
    100% { top: 0px; }
}
@-webkit-keyframes msg-exit {
    0% { top: 0px; opacity: 1.0; }
    100% { opacity: 0.0; }
}
@keyframes msg-exit {
    0% { top: 0px; opacity: 1.0; }
    100% { opacity: 0.0; }
}
