@import 'vis.css';

body {
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    font-family: Tahoma, Geneva, sans-serif;
    background-color: #FFFCF1;
}
.container {
    margin: 0 0 0 0;
    padding: 0 10px 0 15px;
}
input {
    background-color: #FFF6D3;
}
#vis-run-controls {
    margin: 0 0 0 0;
    height: 20px;
}
#vis-run-controls .run-controls {
    position: fixed;
    width: 100%;
    background-color: #FFFCF1;
    padding-top: 10px;
    z-index: 10;
}
#vis-input label {
    display: inline-block;
    width: 60px;
    margin-right: 5px;
    text-align: right;
}
#vis-input .units {
    color: #bbb;
    font-size: 10px;
}
#vis-input, #vis-event {
    min-height: 2em;
    margin-left: 2em;
    background-color: #FFFCF1;
    color: #666;
}
#vis-event {
    color: #bbb;
}
#vis-input-log, #vis-output-log {
    display: block;
    width: 600px;
    min-height: 5.5em;
    margin-left: 2em;
    border: 1px solid #ddd;
    background-color: #FFF6D3;
    overflow: scroll;
}
.client-label {
    margin: 0 0 0 0;
    background-color: #FFFCF1;
    padding-top: 20px;
}
.client-container { margin-left: 4em; }
.client-container table.hist tr { border: 1px solid #999; }
.client-container table.hist tr th {
    border-top: 1px solid #FFFCF1;
    text-align: left;
}
.client-container table.hist tr td {
    padding-right: 10px;
    color: green;
    vertical-align: top;
    white-space: nowrap;
}
.client-container table.hist tr.complete td {
    color: #666;
}
.client-container table.hist tr.hist-event td {
    border-top: 1px solid #FFFCF1;
}
.client-container table.hist tr.hist-event:hover td {
    border-top: 1px solid #dde;
}
.client-container table.hist li {
    position: relative;
}
.client-container table.hist li div.timeline-focus {
    position: absolute;
    display: none;
}
.client-container table.hist li:hover div.timeline-focus {
    position: absolute;
    display: block;
    top: -1000px;
    left: -18px;
    width: 6px;
    height: 6000px;
    z-index: -1;
    background-color: #dde;
}
.client-container table.hist li button {
    display: none;
}
.client-container table.hist li:hover button {
    position: absolute;
    display: block;
    top: 0px;
    left: -10px;
    z-index: 1;

    -webkit-animation: timeline-focus 1s; /* Chrome, Safari, Opera */
    animation: timeline-focus 1s;
}
@-webkit-keyframes timeline-focus {
    0% { opacity: 0; top: -20px; left: 10px; }
    50% { opacity: 0.1; top: -20px; left: 10px; }
    100% { opacity: 1.0; top: 0px; left: -10px; }
}
@keyframes timeline-focus {
    0% { opacity: 0; top: -20px; left: 10px; }
    50% { opacity: 0.1; top: -20px; left: 10px; }
    100% { opacity: 1.0; top: 0px; left: -10px; }
}
.client-prev {
    position: relative;
}
.client-prev .client-container {
    position: absolute;
    opacity: 0.2;
}
.event {
    margin-top: 60px;
    border-top: 1px solid #ddd;
    background-color: #FFFCF1;
}
.event, #event {
    white-space: nowrap;
}

