body {
    background-color: #FFFCF1;
}
input {
    background-color: #FFF6D3;
}
.vis, .vis * {
    font-size: 20px;
    white-space: nowrap;
}
div.actx, div.actx ul, div.actx li {
    width: 100%;
    margin-top: 0;
    margin-bottom: 0;
    border-top: 0px solid white;
    padding-top: 0;
    padding-bottom: 0;
    line-height: 1;
    white-space: nowrap;
}
div.actx {
    border-top: 1px solid rgb(0,100,0);
    border-radius: 6px;
    background-color: rgba(0,100,0,0.4);
}
div.actx ul, div.actx li {
    list-style: none;
}
div.actx div.loop-state {
    display: inline-block;
    margin-left: 10px;
    white-space: nowrap;
    font-size: 10px;
    color: #bbb;
}
div.chs {
    display: block;
    position: relative;
    left: 520px;
    margin: 0 0 0;
    border-top: 0px solid white;
    padding: 0 0 0;
    white-space: nowrap;
}
div.chs li {
    border-radius: 6px;
    background-color: #B1F5F7;
    padding-left: 0.5em;
}
svg.vis-svg line.arrow {
    stroke-width: 1;
    stroke: #B1F5F7;
    stroke-dasharray: 10,2;
    marker-end: url(#triangle);
}
svg.vis-svg line.delta {
    stroke-width: 2;
    stroke: blue;
    stroke-dasharray: none;
}
svg.vis-svg line.close {
    stroke: black;
    stroke-dasharray: none;
}
svg.vis-svg line.delta {
    -webkit-animation-name: delta-move;
    -webkit-animation-duration: 0.7s;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-timing-function: ease-out;

    animation-name: delta-move;
    animation-duration: 0.7s;
    animation-iteration-count: 1;
    animation-timing-function: ease-out;
}
svg.vis-svg line.ghost {
    stroke-width: 0.8;
    stroke: #aaa;
    stroke-dasharray: none;
}
svg.vis-svg text.ch-name {
    font-size: 10px;
    stroke-color: #bbb;
}
@-webkit-keyframes delta-move {
    0% { -webkit-transform: scale(0,0); }
    100% { -webkit-transform: scale(1,1); }
}
@keyframes delta-move {
    0% { transform: scale(0,0); }
    100% { transform: scale(1,1); }
}
button.toggle {
    font-size: 8px;
    width: 14px;
    height: 14px;
    margin: 3px 4px 0 6px;
    padding: 0 0 0 0;
    vertical-align: top;
}


