body {
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    font-family: Tahoma, Geneva, sans-serif;
    background-color: #FFFCF1;
}
.container {
    margin: 0 0 0 0;
    padding: 0 10px 0 15px;
}
input {
    background-color: #FFF6D3;
}
#vis-run-controls {
    margin: 0 0 0 0;
    background-color: #FFFCF1;
    padding-top: 10px;
}
#vis-input, #vis-event {
    min-height: 2em;
    margin-left: 2em;
    background-color: #FFFCF1;
    color: #666;
}
#vis-event {
    color: #bbb;
}
#vis-input-log, #vis-output-log {
    display: block;
    width: 600px;
    min-height: 5.5em;
    margin-left: 2em;
    border: 1px solid #ddd;
    background-color: #FFF6D3;
    overflow: scroll;
}
.vis {
    padding-top: 20px;
    background-color: #FFFCF1;
}
.vis, .vis * {
    font-size: 20px;
    white-space: nowrap;
    line-height: 1;
}
div.actx, div.actx ul, div.actx li {
    width: 100%;
    margin-top: 0;
    margin-bottom: 0;
    border: none;
    padding-top: 0;
    padding-bottom: 0;
    list-style: none;
}
div.actx div.actx {
    width: 95%;
}
div.actx {
    border-top: 1px solid rgb(0,100,0);
    border-radius: 6px;
    background-color: rgba(0,100,0,0.4);
}
div.actx div.loop-state {
    display: inline-block;
    margin-left: 10px;
    padding-top: 3px;
    white-space: nowrap;
    vertical-align: top;
    font-size: 10px;
    color: #bbb;
}
span.actx-id {
    display: inline-block;
    padding-top: 1px;
    vertical-align: top;
    font-size: 15px;
}
div.chs {
    display: block;
    position: relative;
    left: 520px;
    margin: 0 0 0 0;
    border: none;
    padding: 0 0 0 0;
    white-space: nowrap;
}
div.chs li {
    width: 37%;
    height: 21px;
    margin-top: 0;
    margin-bottom: 0;
    border: none;
    border-top: 1px solide #B1F5F7;
    border-radius: 6px;
    background-color: #B1F5F7;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0.5em;
    font-size: 20px;
}
div.chs li * {
    display: inline-block;
    padding-top: 4px;
    vertical-align: top;
    font-size: 12px;
}
div.chs li span.msgs {
    color: blue;
}
svg.vis-svg line.arrow {
    stroke-width: 1;
    stroke: #B1F5F7;
    stroke-dasharray: 10,2;
    marker-end: url(#triangle);
}
svg.vis-svg line.delta {
    stroke-width: 2;
    stroke: blue;
    stroke-dasharray: none;
}
svg.vis-svg line.close {
    stroke: black;
    stroke-dasharray: none;
}
svg.vis-svg line.delta {
    -webkit-animation-name: delta-move;
    -webkit-animation-duration: 0.7s;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-timing-function: ease-out;

    animation-name: delta-move;
    animation-duration: 0.7s;
    animation-iteration-count: 1;
    animation-timing-function: ease-out;
}
svg.vis-svg line.ghost {
    stroke-width: 0.8;
    stroke: #aaa;
    stroke-dasharray: none;
}
svg.vis-svg line.trail {
    stroke-width: 0.5;
    stroke: #fbb;
    stroke-dasharray: none;
}
svg.vis-svg text.ch-name {
    font-size: 10px;
    stroke-color: #bbb;
}
@-webkit-keyframes delta-move {
    0% { -webkit-transform: scale(0,0); }
    100% { -webkit-transform: scale(1,1); }
}
@keyframes delta-move {
    0% { transform: scale(0,0); }
    100% { transform: scale(1,1); }
}
button.toggle {
    font-size: 8px;
    width: 14px;
    height: 12px;
    margin: 2px 4px 0 6px;
    border: none;
    padding: 0 0 0 0;
    vertical-align: top;
    color: #666;
    background-color: rgba(0,0,0,0);
}
.client-label {
    margin: 0 0 0 0;
    background-color: #FFFCF1;
    padding-top: 20px;
}
#client { margin-left: 4em; }
#client table.hist tr { border: 1px solid #999; }
#client table.hist tr th {
    border-top: 1px solid #FFFCF1;
    text-align: left;
}
#client table.hist tr td {
    padding-right: 10px;
    color: green;
    vertical-align: top;
    white-space: nowrap;
}
#client table.hist tr.complete td {
    color: #666;
}
#client table.hist tr.hist-event td {
    border-top: 1px solid #FFFCF1;
}
#client table.hist tr.hist-event:hover td {
    border-top: 1px solid #dde;
}
#client table.hist li {
    position: relative;
}
#client table.hist li div.timeline-focus {
    position: absolute;
    display: none;
}
#client table.hist li:hover div.timeline-focus {
    position: absolute;
    display: block;
    top: -1000px;
    left: -18px;
    width: 6px;
    height: 6000px;
    z-index: -1;
    background-color: #dde;
}
#client table.hist li button {
    display: none;
}
#client table.hist li:hover button {
    position: absolute;
    display: block;
    top: 0px;
    left: -10px;
    z-index: 1;

    -webkit-animation: timeline-focus 1s; /* Chrome, Safari, Opera */
    animation: timeline-focus 1s;
}
@-webkit-keyframes timeline-focus {
    0% { opacity: 0; top: -20px; left: 10px; }
    50% { opacity: 0.1; top: -20px; left: 10px; }
    100% { opacity: 1.0; top: 0px; left: -10px; }
}
@keyframes timeline-focus {
    0% { opacity: 0; top: -20px; left: 10px; }
    50% { opacity: 0.1; top: -20px; left: 10px; }
    100% { opacity: 1.0; top: 0px; left: -10px; }
}
.event {
    margin-top: 60px;
    border-top: 1px solid #ddd;
    background-color: #FFFCF1;
}
.event, #event {
    white-space: nowrap;
}

